/*Tabla*/
table {
  width: 100%;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table-container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    background: white;
    overflow-x: auto;
}
tr {
  font-family: 'Circular Std Book';
}
tr:hover { 
    background: #f5f5f5;
    border-color: #f5f5f5;
}
.col-role {
  width: min-content;
}
.button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
}
.button:hover, object:hover {
  cursor: pointer;
}
.grab-td:hover {
  cursor: grab;
}
.grab-td:active {
  cursor: grabbing;
}
.table-actions { 
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-around;
}
.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
table > tr > th {
    font-weight: 400;
}

/*Input*/
.busqueda {
  outline: none;
  height: 30px;
  border: 1px solid #D0D0D0;
  background: var(--gris-background);
  width: 25%;
  padding-left: 5%;
  background: var(--gris-background) url('../../../../assets/icons/search.svg') no-repeat 5% 50%;
}
.busqueda::placeholder {
  font-family: 'Circular Std Book', sans-serif;
}
.input {
  font-family: 'Circular Std Book', sans-serif;
  outline: none;
  height: 30px;
  border: 1px solid #D0D0D0;
  padding: 5px 20px;
}
select {
  font-family: 'Circular Std Book', sans-serif;
  margin: 0 5px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../../../assets/icons/arrow.svg') 96% / 15% no-repeat var(--gris-background);
}


/* Lista */
.cdk-drag-placeholder {
  opacity: 0;
} 
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

 /* Switch */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--azul-gris);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--azul-gris);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 