/*Tabla*/
table {
  width: 100%;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table-container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    background: white;
}
tr:hover { 
    background: #f5f5f5;
    border-color: #f5f5f5;
}
/* .col-photo, .col-name, .col-firstlastname, .col-secondlastname, .col-mail, .col-role, .col-status {
    width: 10%;
} */
.col-mail {
  width: min-content;
}
.edit-button, .delete-button {
  background: none;
  border: none;
}
.edit-button:hover, .delete-button:hover {
  cursor: pointer;
  fill: red;
}
.grab-td:hover {
  cursor: grab;
}
.grab-td:active {
  cursor: grabbing;
}
.table-actions { 
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-around;
}
.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
table > tr > th {
    font-weight: 400;
}

/*Input*/
.busqueda {
  outline: none;
  height: 30px;
  border: 1px solid #D0D0D0;
  background: var(--gris-background);
  width: 25%;
  padding-left: 5%;
  background: var(--gris-background) url('../../../../assets/icons/search.svg') no-repeat 5% 50%;
}
.busqueda::placeholder {
  font-family: 'Circular Std Book', sans-serif;
}
.input {
  outline: none;
  height: 30px;
  border: 1px solid #D0D0D0;
  background: var(--gris-background);
}


/* Lista */
.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
  
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
} 
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}