* {
  font-family: 'Circular Std Book', sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  background: rgba(33,33,33,0.9);
  position: fixed;
  top: 0%;
  left: 0%;
}
.visibility{
  display: block;
}
.modal {
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  padding: 15px 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input, select {
  width: 40%;
  height: 48px;
  padding-left: 20px;
  border: 1px solid #E9E9E9;
  outline: none;
  margin: 28px 10px;
}
hr {
  background: #E9E9E9;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
button {
  height: 40px;
  padding: 5px 25px;
  margin: 0 10px;
  border: none;
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
}
.btn-orange {
  background: var(--naranja);
  color: white;
}
.btn-white {
  background: transparent;
  border: 1px solid var(--naranja);
  color: var(--naranja);
}
.btn-orange[disabled] {
  cursor: default;
  background: #fa6a0040;
}
.role {
  display: flex;
  align-items: center;
  place-content: space-around;
  width: 30%;
  padding-left: 10px;
}

/* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  @media (max-width: 1500px) {
    input, select {
      width: 100%;
      margin: 28px auto;
    }
    .role{
      width: 100%;
    }
  }