<div class="container">
  <div class="modal">
    <h2>Agregar nuevo usuario</h2>
    <p>Foto de perfil</p>
    <p>Información básica</p>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label>
        <input type="text" formControlName="nombre" required placeholder="Nombre">
      </label>
      <label>
        <input type="text" formControlName="apellidoPaterno" required placeholder="Apellido paterno">
      </label>
      <label>
        <input type="text" formControlName="apellidoMaterno" required placeholder="Apellido materno">
      </label>
      <label>
        <input type="email" formControlName="email" required placeholder="Correo electrónico">
      </label>
      <label>
        <select formControlName="role">
          <option *ngFor="let role of roles">{{role.position}}</option>
        </select>
      </label>
      <label class="switch">
        <input type="checkbox" formControlName="active">
        <span class="slider round"></span>
      </label>
      <hr>
      <div class="actions">
        <button type="reset" (click)="onClose()" #close class="btn-white">Cancelar</button>
        <button type="submit" [disabled]="!profileForm.valid" class="btn-orange">Guardar usuario</button>
      </div>
    </form>
  </div>
</div>